<!DOCTYPE html>
<html ng-app='ngSnake'>

  <head>
	  <title>MAAZ</title>
	  <meta name="description" content="A game developed by maaz" />
<meta name="keywords" content="maaz,maaz,glocal university,maaz glocal university,netvision corporation, maazsofttech, mohd maaz" />
     
    <link rel="stylesheet" type="text/css" href="snake.css">
    <link rel ="stylesheet" type = "text/css" href ="bootstrap.css">
  </head> 
  

  <body ng-controller="snakeCtrl">
 <div class="container-fluid">
	 
	 
	 
	 <div class="row">
		 
		 
		 
	<div class="col-sm-6">  
		
		<CENTER>
			<BR><BR><BR><BR><BR><BR><BR><BR> 
		 <img src="maaz.jpeg" class="img-rounded"  width="115" height="120"/> 
		 <BR>
		<a href ="https://github.com/maazsofttech"><h4>MAAZ</h4></a>
		<BR>
		An M.C.A final year student from Glocal university
		</CENTER>
		</div>
   
  <div class="col-sm-6">
		<br>
          <div class="row" ng-repeat="column in board">
              <div class="column"
                  ng-style="{'background-color': setStyling($parent.$index, $index)}"
                  ng-repeat="row in column track by $index"
              ></div>
          </div>
          
           
				 
				  
					 
					   <div id="startGame" ng-click="startGame()">GO..!</div>
		
 
				 
          
          
          
          
           <div id="gameContainer">
      <h3>pointsss {{score}}</h3>
      
		  </div>
       
          
            
          
        
   
         
            
          
          
          
          
          
          
          
          
      
     

		  
		   
		 
    <script src="angular.min.js"></script>
    <script src="snake.js"></script> 
    
    
    
    
     



</div> 



</div>  




</body>

</html>
