<!DOCTYPE html>
<html ng-app='ngSnake'>

  <head>
 
    <link rel="stylesheet" type="text/css" href="snake.css">
  </head> 

  <body ng-controller="snakeCtrl">
 <center>
   
  
          <div class="row" ng-repeat="column in board">
              <div class="column"
                  ng-style="{'background-color': setStyling($parent.$index, $index)}"
                  ng-repeat="row in column track by $index"
              ></div>
          </div>
      </div>
      <div id="startGame" ng-click="startGame()">GO..!</div>
    </div>
 <div id="gameContainer">
      <h3>pointsss {{score}}</h3>
      <div>
		  </div>
		  
		   <h3> by <a href="https://www.github.com/maazsofttech">MAAZ</a></h3>
		  </center>
    <script src="angular.min.js"></script>
    <script src="snake.js"></script> 
  </body>

</html>
